@import "./variables.scss";
@import "./mixins.scss";
@import "./icons.scss";
@import "./vaadin.scss";

.font-small {
  font-size: $font-size-small;
}

.font-medium {
  font-size: $font-size-medium;
}

.font-large {
  font-size: $font-size-large;
}

.no-wrap-visible {
  white-space: nowrap;
}

.no-wrap-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

body {
  font-family: 'Oxygen', sans-serif;

  >div {
    &:first-of-type {
      margin-top: 40px;
    }
  }

}

.co-status-pending {
  @include color-pending();
}
.co-status-passed {
  @include color-passed();
}
.co-status-running {
  @include color-running();
}
.co-status-failed {
  @include color-failed();
}
.co-status-neutral {
  @include color-neutral();
}

.co-circle {
  @include co-circle(3.5rem);
  &.pending {
    @include bg-color-pending;
  }
  &.neutral {
    @include bg-color-neutral;
  }
  &.passed {
    @include bg-color-passed;
  }
  &.failed {
    @include bg-color-failed();
  }
  &.running {
    @include bg-color-running();
  }
}

.co-cell-build {
  padding-right: 0 !important;
  overflow: visible !important;
}

.co-cell-unit-test {
  padding-left: 0 !important;
  padding-right: 0 !important;
  overflow: visible !important;
}

.co-cell-functional-test {
  padding-left: 0 !important;
  overflow: visible !important;
}

.co-status {
  position: relative;
  .co-circle {
    i {
      position: absolute;
      transform: scale(2.3, 2.3);
      top: 1.1rem;
      left: 1.1rem;
      z-index: 10;
    }
    &.passed {
      i {
        color: $color-status-passed
      }
    }
  }
}

.co-progress {
  transform: scaleY(0.3);
  .progress {
    background-color: $color-status-neutral;
    transform: translateY(2.9rem) scaleX(1.1);
    outline: solid;
    outline-color: $color-status-neutral;
    outline-width: 1.7rem;
    .progress-bar {
      &.pending {
        background-color: $color-status-pending;
      }
      &.neutral {
        background-color: $color-status-neutral;
      }
      &.passed {
        background-color: $color-status-passed;
      }
      &.failed {
        background-color: $color-status-failed;
      }
      &.running {
        background-color: $color-status-running;
      }
    }
  }
}

.co-val-time {
  font-size: $font-size-small;
}

.co-grid {

   tr {
     &.co-row-hr {
       padding: 0 !important;
       margin: 0 !important;
       border-bottom: none !important;
       td {
         &.co-row-hr {
           height: 0.4rem;
           padding: 0 !important;
           margin: 0 !important;
           border-bottom: none !important;

           &.pending {
             @include bg-color-pending;
           }
           &.neutral {
             @include bg-color-neutral;
           }
           &.passed {
             @include bg-color-passed;
           }
           &.failed {
             @include bg-color-failed();
           }
           &.running {
             @include bg-color-running();
           }

         }
       }
     }
   }

   table-layout: fixed;

   td {
     vertical-align: middle !important;
   }
   tbody {

     font-size: $font-size-medium;

     td[class^=co-cell] {
       white-space: nowrap;
       overflow-x: hidden;
       text-overflow: ellipsis;

       &.co-cell-time-started {
         .co-val-time {
           font-size: $font-size-small;
         }
         i {
          &.fa-clock-o {
            margin-left: $font-size-small;
          }
         }
       }

     }

     tr {
       cursor: default;
       &.co-row-main {
         &.selected {
           font-weight: $font-weight-bold;
         }
          &:hover {
            cursor: pointer;
          }
       }

       &.co-row-sub {
         &:not(.selected) {
           display: none;
         }
       }

       &.co-row-main {
         td {
           &.expanded {
             transition: transform 0.2s linear;
             transform: scale(1.5,1.5) translateX(20%);
             border-left-color: rgb(221, 221, 221);
             border-left-style: solid;
             border-left-width: 1px;
           }
         }
       }

     }
   }
}

.co-row-detail-wrapper {
  width: 100%;
  .co-folder-detail {
    position: relative;
    .co-folder-status-icon {
      position: absolute;
      left: 0.7rem;
      top: 0.7rem;
    }
  }
  .co-detail-progress {
    font-size: 3rem;
    font-weight: $font-weight-bold;
  }
}
