$font-weight-bold: 600;

$font-size-large: 1.5rem;
$font-size-medium: 1.3rem;
$font-size-small: 1.1rem;

$color-status-pending: #F8AC59;
$color-status-running: #1C84C6;
$color-status-passed: #1AB394;
$color-status-failed: #ED5565;
$color-status-neutral: #E4E4E7;



